#header {
	float: right;
	padding-right: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	color: #9F9F9F;
}

li a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#logo {
	padding: 190px 0px 10px 0px;
	height: 300;
	width: 270px;
	margin: auto;
}

#search {
	width: 500px;
	margin: auto;
}

#input {
	width: 500px;
	height: 25px;
}

#buttons {
	padding: 20px 0 0 0;
	margin: auto;
	text-align: center;
}

.searchbutton {
	height: 36px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 2px;
	padding: 0 16px;
	text-align: center;
	margin: 11px 4px;
	display: inline-block;
}

#special {
	padding-top: 10px;
	width: 450px;
	margin: auto;
}

#footer {
	height: 40px;
	width: 100%;
	background-color: #F2F2F2;
	position: absolute;
	bottom: 0px;
	right: 0;
}

.footer {
	text-decoration: default;
	color: #666;
}

#footerright {
	float: right;
	padding-right: 20px;
}

#footerleft {
	padding-left: 20px;
}